<!DOCTYPE html>
<html>
<head>
    <title>Index page</title>
    <meta name="author" content="Fran Šribar">
    <meta name="decription" content="Skup podataka koji sadrži trenutne momčadi Formule 1">
    <meta name="keywords" content="teams, drivers">
    <meta name="language" content="hrvatski, engleski">
    <meta name="licence" content="Creative Commons Zero v1.0 Universal">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script> 
    <link rel="stylesheet" type="text/css" href="static/styles/index.css"> 
</head>
<body>
   <h1> Formula 1 momčadi </h1>

   <h3>Skup podataka sadrži trenutne momčadi koje se natječu u prvenstvu Formule 1.
     Unutar skupa podataka nalaze se općenite informacije vezane uz momčadi.</h3>
    <ul>
        <li><a href="../static/data/F1Teams.csv" download><span class="preuzmi">CSV Format</span></a></li>
        <li><a href="../static/data/F1Teams.json" download>JSON Format</a></li>
    </ul>

    <div class="button-container">
        <button id="redirectToDatatable">Go to Datatable Page</button>
        <button id="openApi">OpenAPI JSON</button>
    </div>

    <div class="new-btns">
    <button id="profil">Korisnički profil</button>
    <button id="osvjezi">Osvježi preslike</button>
    </div>

    <div id="statusMessage" style="margin-top: 10px;"></div>

    <div id="profileData" style="display: none; margin-top: 20px; border: 1px solid #ccc; padding: 10px; position: relative;">
        <button id="closeProfile" style="position: absolute; top: 5px; right: 5px; background: #C41E3A; color: white; border: none; border-radius: 3px; cursor: pointer;">X</button>
        <h3>Podaci korisnika:</h3>
        <pre id="profileDetails"></pre>
    </div>

    <button class="login-button" id="loginButton">Prijava</button>
    <button class="login-button" id="logoutButton">Odjava</button>

    <script>
        $(document).ready(function() {

            function checkAuth() {
        $.get('/check-auth', function(data) {
            if (data.isAuthenticated) {
                $('#loginButton').hide();
                $('#logoutButton').show();
                $('#profil').show();
                $('#osvjezi').show();
            } else {
                $('#loginButton').show();
                $('#logoutButton').hide();
                $('#profil').hide();
                $('#osvjezi').hide();
            }
        });
    }

    checkAuth();

            $('#redirectToDatatable').on('click', function() {
                window.location.href = '/datatable';
            });
            
           $('#openApi').on('click', function() {
                window.location.href = '/download/openapi';
            });

            $('#loginButton').on('click', function() {
                window.location.href = '/login';
            });

            $('#logoutButton').on('click', function() {
                window.location.href = '/logout';
            });

            $('#profil').on('click', function() {
            // Dohvaća podatke profila od servera
            $.get('/profile', function(data) {
                $('#profileDetails').text(JSON.stringify(data, null, 2)); // Prikazuje podatke korisnika
                $('#profileData').show(); // Prikazuje div s podacima
            }).fail(function() {
                alert('Greška: Korisnik nije prijavljen.');
            });
        });

        $('#closeProfile').on('click', function() {
        $('#profileData').hide(); // Sakriva prozor
    });

    $('#osvjezi').on('click', function () {
    $('#statusMessage').text('Datoteke ažurirane');
    $.get('/api/refresh-files', function (response) {
    }).fail(function (error) {
      $('#statusMessage').html(`<p style="color: red;">Došlo je do greške: ${error.responseJSON.message}</p>`);
    });
  });

        });

    </script>

</body>
</html>